@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(bg.svg);
}

.logo {
    width: 15%;
    margin-left: -55px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root,
body,
html {
    width: 100%;
    height: 95vh;
}

.title {
    font-family: "Inter";
    font-style: normal;
    text-align: center;
    color: #000000;
    /* justify-content: center; */
}

.main-title {
    font-weight: 800;
    font-size: 4rem;
    /* line-height: 0px;  */
}

.secondary-title {
    font-weight: 400;
    font-size: 1.75rem;
}

.tertiary-title {
    font-weight: 700;
    font-size: 2rem;
    /* line-height: "36px"; */
    vertical-align: middle;
}

.oct-logo {
    /* paddingTop: 5, */
    justify-content: center;
    vertical-align: middle;
    /* justifyContent: "center",
    verticalAlign: "middle" */
}

.input-container {
    margin-top: 1em;
}

.input-container-equals {
    line-height: 2.5em;
}

.main-container {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1050px) {
    .recipe-container {
        width: 80% !important;
        height: 170px !important;
        min-height: fit-content !important;
        font-size: 1.7rem;
    }

    .main-container {
        /* margin-left: 500px; */
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .nav-container {
        max-width: 95% !important;
        align-items: center !important;
    }

    .timeline {
        width: 100% !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
        max-height: 7em !important;
        margin-top: 2.25em;
        padding-left: 0 !important;
    }

    .timeline-item {
        flex-direction: column-reverse !important;
        align-items: center;
        width: 100%;
    }

    .timeline-item-separator {
        width: 6.25em;
        display: flex;
        flex-direction: row !important;
        padding-left: 2.75em !important;
    }

    .steps4 .timeline-item-conector {
        height: 3px !important;
        /* Properties for almost connected dots */
        padding-left: 14em;
        margin-left: 1em !important;
    }

    .steps5 .timeline-item-conector {
        height: 3px !important;
        /* Properties for almost connected dots */
        padding-left: 11.5em;
        margin-left: 0.5em !important;
    }

    .timeline-item-content {
        width: 75% !important;
        font-size: 30px !important;
        text-align: center !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .secondary-container {
        width: 100% !important;
    }

    /* .secondary-container-h {
        height: 28em!important;
    } */

    .secondary-container-h-last {
        /* height: fit-content; */
        height: 55em !important;
    }

    /* Typhography */

    .description-container,
    .lp-info-container {
        font-size: 30px;
    }

    table tr th,
    table tr td {
        font-size: 30px !important;
    }

    button {
        font-size: xx-large !important;
        width: 6em;
    }

    a {
        font-size: xx-large !important;
        width: 13em;
    }

    button.username-container {
        font-size: 30px !important;
        width: fit-content !important;
    }

    .lp-balance-container {
        font-size: 2rem;
    }
}
